body {
    margin: 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
}

#game {
    background-color: rgba(120, 30, 30, 0.5);
    grid-column: 1;
    display: grid;
    grid-template-rows: 5% 85% 10%;
    border: black 1px solid;
}

#orders {
	grid-column: 2;
}

#head {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr;
}

#pizza {
    grid-row: 2;
}

#buttons {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1px;
}

button {
    width: auto;
}

p {
    width: auto;
}

.card-body {
    padding: 0.5rem !important;
}

.order {
    border: 1px black solid;
}

.above {
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 300px;
}