<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="icon"
          type="image/png"
          href="/images/pizza type-03.png">
    <title>Pizza Maker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/homepage.css" rel="stylesheet">
    <link type="text/css" href="/css/topscore.css" rel="stylesheet">
    <base href="/"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/webjars/js-cookie/js.cookie.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="#" />
    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <property name="additionalDialects">
            <set>
                <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect"></bean>
            </set>
        </property>
    </bean>
</head>
<body>
<header class="page-header header container-fluid">
    <div class="container-fluid unauthenticated">
        <div class="row">
            <div class="col-8 align-self-start logo">
                <!-- buat logo -->
                <div >
                    <img src="/images/logo-02.png" style="width:70%; height:70%;">
                </div>
            </div>

            <div class="col-4 align-self-end button" style="margin-bottom: 1%">

                <div class="col align-self-end float-right button">
                    <div class="float-right">
                        <p class="welcome-text">Welcome to Pizza Maker! Do you like pizza? Let's make your own pizza here!</p>
                        <br>
                        <a href="/topScore" role="button" class="block-welcome-button">TOPSCORE</a>
                        <br>
                        <a href="/oauth2/authorization/google" role="button" class="block-welcome-button">LOGIN</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid authenticated" style="display: none">
        <img src="/images/logo panjang.png" style="width:12%; height:12%; margin-top: 2%">
        <div class="row">
            <div class="col align-self-start hello-left">
                <!-- buat halo -->
                <div class="hello-text">
                    <h1 class="hello">Hello,</h1>
                    <span id="user"></span>
                </div>

                <div class="row score-level-text" sec:authorize="isAuthenticated()" th:value="${player}">
                    <div class="col-4">
                        <p class="label-text">Score :</p>
                        <p class="value-text" th:text="${player.getScore()}"></p>
                    </div>
                    <div class="col">
                        <p class="label-text">Level :</p>
                        <p class="value-text" th:text="${player.getLevel()}"></p>
                    </div>
                </div>
            </div>

            <div class="align-self-center hello-right">
                <div class="float-right play-button">
                    <div><a href="/level" type="button" class="block-play-button">PLAY</a></div>
                    <br>
                    <div><a href="/topScore" type="button" class="block-play-button">SCOREBOARD</a></div>
                    <br>
                    <div><a href="#" type="button" class="block-play-button" onclick="logout()">LOGOUT</a></div>
                </div>
            </div>
        </div>
    </div>

</header>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/homepage.js" type="text/javascript"></script>
</body>
</html>
