<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="icon"
		  type="image/png"
		  href="/images/pizza type-03.png">
	<title>Pizza Maker</title>
	<link href="/css/level.css" rel="stylesheet">
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/order.js"></script>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="game">
		<div id="head">
			<h3>Level</h3>
			<h3 id="level" th:text="${level}"></h3>
			<h3 id='score'>0</h3>
			<h3 id='time'></h3>
			<div class="alert alert-primary alert-dismissible collapse above" role="alert" id="timesup">
		        Time's Up!
		        Next Level?
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		        </button>
		        <button type="button" id="next">Next Level</button>
		        <button type="button" id="exit">Exit</button>
		    </div>
		    <div class="alert alert-primary alert-dismissible collapse above" role="alert" id="notenoughscore">
		        Score is not enough!
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		        </button>
		        <button type="button" id="retry">Retry?</button>
		        <button type="button" id="exit">Exit</button>
		    </div>
		</div>
		<div id='pizza'></div>
		<div id="buttons">
			<div th:each="button: ${buttons}">
				<div th:switch="${button.getName()}">
					<button class="btn btn-sm btn-primary" type="Submit" 
						th:case="'submit'" id="submit">Submit</button>
					<button class="btn btn-sm btn-primary" type="submit"
						th:case="'trash'" id="trash">Trash</button>
					<button class="btn btn-sm btn-primary" type="Submit"
						th:case="'create pizza'" id="createPizza">Create Pizza</button>
					<button class="btn btn-sm btn-primary topping" type="Submit" 
						th:case="*"
						value='${button.getName()}'
						th:text="${button.getName()}"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="orders">
	</div>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>