<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          type="image/png"
          href="/images/pizza type-03.png">
    <title>Top Score</title>
    <link type="text/css" href="/css/homepage.css" rel="stylesheet">
    <link type="text/css" href="/css/topscore.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <property name="additionalDialects">
            <set>
                <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect"></bean>
            </set>
        </property>
    </bean>
</head>
<body>
    <div class="text-center header" style="min-height: 100vh;">
        <div id="head">
            <br>
            <h1 style="font-family: 'Press Start 2P';">
                Top Score
            </h1>
            <br>
        </div>

        <div class="topScore">
            <div class = "container">
                <div th:if="${not #lists.isEmpty(topScorer)}">
                    <table class="table table-striped" id="result">
                        <thead class="bg-light" id="thead">
                        </thead>
                        <tbody sec:authorize="isAuthenticated()" class="bg-white" id="tbody">
                            <tr th:each="scores : ${topScorer}">
                                <td th:if="${scores.getEmail()} == ${player.getEmail()}" th:text="${scores.getRank()}" style="background-color: peachpuff"></td>
                                <td th:if="${scores.getEmail()} != ${player.getEmail()}" th:text="${scores.getRank()}"></td>
                                <td th:if="${scores.getEmail()} == ${player.getEmail()}" th:text="${scores.getLevel()}" style="background-color: peachpuff"></td>
                                <td th:if="${scores.getEmail()} != ${player.getEmail()}" th:text="${scores.getLevel()}"></td>
                                <td th:if="${scores.getEmail()} == ${player.getEmail()}" th:text="${scores.getUsername()}" style="background-color: peachpuff"></td>
                                <td th:if="${scores.getEmail()} != ${player.getEmail()}" th:text="${scores.getUsername()}"></td>
                                <td th:if="${scores.getEmail()} == ${player.getEmail()}" th:text="${scores.getScore()}" style="background-color: peachpuff"></td>
                                <td th:if="${scores.getEmail()} != ${player.getEmail()}" th:text="${scores.getScore()}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr th:if="${player.getRank()} > 10" th:value="${player}" style="background-color: peachpuff">
                                <td th:text="${player.getRank()}"></td>
                                <td th:text="${player.getLevel()}"></td>
                                <td th:text="${player.getUsername()}"></td>
                                <td th:text="${player.getScore()}"></td>
                            </tr>
                        </tbody>
                        <tbody sec:authorize="isAnonymous()" class="bg-white" id="tbody1">
                            <tr th:each="scores : ${topScorer}">
                                <td th:text="${scores.getRank()}"></td>
                                <td th:text="${scores.getLevel()}"></td>
                                <td th:text="${scores.getUsername()}"></td>
                                <td th:text="${scores.getScore()}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-2 align-self-center">
                        <div class="play-button"><a href="/" type="button" class="block-play-button">BACK</a></div>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(topScorer)}">
                <table class="table table-stripped">
                    <thead class="bg-light">
                        <tr>
                            <th>Rank</th>
                            <th>Level</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td></td>
                            <td>No Player Yet</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/webjars/js-cookie/js.cookie.js" type="text/javascript"></script>
    <script src="/js/scoreboard.js"></script>
    <script src="/js/homepage.js" type="text/javascript"></script>

</body>
</html>
